.heading {
    line-height: 1.25;
}

.color-default {
    color: red;
}

.color-primary {
    color: green;
}


.size-sm {
    font-size: 16px;
}

.size-md {
    font-size: 21px;
}

.size-lg {
    font-size: 30px;
}